$mainColor:#0B3B3C;
$toolsGetstarted:#FFFFFF;
$toolsLink: #7E0707;
$toolsHover: #0B3B3C;

// Для всех поменять
$mainHover1: #7E0707;
$mainHover2: #0B3B3C;

$consBorder: #b3b3b3;
$backStars:#00B67A;
$backStarsHalf:#DCDCE6;

$backProductsCard: #E8EFE9;
$productHover: #7E0707;
// $productLink:

$backEffect:#E8EFE9;
$backNew:#BDCDC5;
$effectNewHover: #7E0707;
$backEffectView: #7E0707;
$textEffectView: #FFFFFF;
$backEffectView: #7E0707;
$effectViewHover: #0B3B3C;
$backEffectCard:#FFFFFF;

// SLIDER
$backSlider:#E8EFE9;

// TEAM
$textTeam:#91AB9F;
$borderTeam: #BDCDC5;

// NOTE
$c-white:#FFFFFF;
$c-darkred:#7E0707;
$backNoteTools:#F3F7F4;


// FOOTER
$textFooter:#6D8A83;