//- GUIDED
mixin guidedCard (way, text)
    .guided__card 
        img.guided__card-image.guided__card-image--card1(src=way, alt="")
        p.guided__card-text= text
        a.guided__card-link READ MORE            