.stars__reviews-star
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 15.2187L15.5625 14.0625L17.4688 19.9375L11 15.2187ZM21.5 7.625H13.4688L11 0.0625L8.53126 7.625H0.5L7.00001 12.3125L4.53125 19.875L11.0313 15.1875L15.0313 12.3125L21.5 7.625Z" fill="white"/>
    </svg>
.stars__reviews-star
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 15.2187L15.5625 14.0625L17.4688 19.9375L11 15.2187ZM21.5 7.625H13.4688L11 0.0625L8.53126 7.625H0.5L7.00001 12.3125L4.53125 19.875L11.0313 15.1875L15.0313 12.3125L21.5 7.625Z" fill="white"/>
    </svg>
.stars__reviews-star
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 15.2187L15.5625 14.0625L17.4688 19.9375L11 15.2187ZM21.5 7.625H13.4688L11 0.0625L8.53126 7.625H0.5L7.00001 12.3125L4.53125 19.875L11.0313 15.1875L15.0313 12.3125L21.5 7.625Z" fill="white"/>
    </svg>    
.stars__reviews-star
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 15.2187L15.5625 14.0625L17.4688 19.9375L11 15.2187ZM21.5 7.625H13.4688L11 0.0625L8.53126 7.625H0.5L7.00001 12.3125L4.53125 19.875L11.0313 15.1875L15.0313 12.3125L21.5 7.625Z" fill="white"/>
    </svg>
.stars__reviews-star.stars__reviews-star--half
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 15.2187L15.5625 14.0625L17.4688 19.9375L11 15.2187ZM21.5 7.625H13.4688L11 0.0625L8.53126 7.625H0.5L7.00001 12.3125L4.53125 19.875L11.0313 15.1875L15.0313 12.3125L21.5 7.625Z" fill="white"/>
    </svg>
