section.consultation 
    .container 
        .consultation__inner
            h2.consultation__title Healthcare. Made easy.
            .stars 
                img.stars__img(src="assets/images/consultation/starS.svg", alt="")
                img.stars__img(src="assets/images/consultation/starS.svg", alt="")
                img.stars__img(src="assets/images/consultation/starS.svg", alt="")
                img.stars__img(src="assets/images/consultation/starS.svg", alt="")
                img.stars__img.stars__img--half(src="assets/images/consultation/starS.svg", alt="")
            p.consultation__text Rated excellent 
                span.consultation__text--main-color on Trustpilot
            .consultation__cards
                .concept__card.concept__card--card1
                    img.concept__img(src="assets/images/consultation/card1.png", alt="")
                    h2.concept__title Treatments online
                    p.concept__subtitle We’ll ask you a couple of quick medical questions. Tick the boxes and a clinician will review your answers and issue you a prescription.
                    img.arrow1(src="assets/images/consultation/arrow1.png", alt="")
                .concept__card.concept__card--card2
                    img.concept__img(src="assets/images/consultation/card2.png", alt="")
                    h2.concept__title Free fast delivery
                    p.concept__subtitle Your selected treatments will be delivered for free in discreet packaging. There’ll be some helpful info included to make sure you get the best out of it.
                    img.arrow2(src="assets/images/consultation/arrow2.png", alt="")
                .concept__card.concept__card--card3
                    img.concept__img(src="assets/images/consultation/card3.png", alt="")
                    h2.concept__title Clinician support
                    p.concept__subtitle Chat with a medical expert whenever you need. On the phone or via email. With support throughout your treatment.
            img.arrow3(src="assets/images/consultation/arrow3.png", alt="")




