section.effect
    .container 
        .effect__inner
            .effect__tools 
                a.new.new__effect(href="#") New
                h2.effect__tools-title Manual Wellbeing
                p.effect__tools-text Our new offering is a holistic plan to improve your health with recommendations from medical experts, as well as tracking and ongoing clinician support.
                a.view__link.view__link--effect VIEW MORE
                .effect__checkmark
                    p.effect__checkmark-text Online consultation
                    p.effect__checkmark-text Personalised health plan
                    p.effect__checkmark-text Tracking & Clinician support
            .effect__cards 
                .effect__card.effect__card--card1
                    include icons/effecticons/effecticon1
                    h6.effect__card-title Hair
                .effect__card.effect__card--card2
                    include icons/effecticons/effecticon2
                    h6.effect__card-title Immunity
                .effect__card.effect__card--card3
                    include icons/effecticons/effecticon3
                    h6.effect__card-title Sleep
                .effect__card.effect__card--card4
                    include icons/effecticons/effecticon4
                    h6.effect__card-title Sex Health
                .effect__card.effect__card--card5
                    include icons/effecticons/effecticon5
                    h6.effect__card-title Brain
                .effect__card.effect__card--card6
                    include icons/effecticons/effecticon6
                    h6.effect__card-title Digestion
                .effect__card.effect__card--card7
                    include icons/effecticons/effecticon7
                    h6.effect__card-title Heart
                .effect__card.effect__card--card8
                    include icons/effecticons/effecticon8
                    h6.effect__card-title Muscles
                .effect__card.effect__card--card9
                    include icons/effecticons/effecticon9
                    h6.effect__card-title Skin
