section.footer 
    .container 
        .footer__inner
            .footer__nav
                .contacts
                    p.contacts__title Have a question? 
                    p.contacts__subtitle.footer__text-white Whatever it is, get in touch:
                    .contacts__card
                        .contacts__card-logo
                            include icons/footer/phone
                        .contacts__card-text
                            p.contacts-card__title.footer__text-white  020 8004 7160
                            p.contacts-card__subtitle.footer__text-grey Mon-Fri 9:00-17:30
                    .contacts__card
                        .contacts__card-logo
                            include icons/footer/message
                        .contacts__card-text
                            p.contacts-card__title.footer__text-white help@manual.co
                            p.contacts-card__subtitle.footer__text-grey We aim to reply in 24hrs
                .footer-nav__inner.footer-nav__inner--learn
                    p.footer__text-grey.footer-nav__title LEARN
                    a.footer__text-white.footer-nav__link(href="#") Erectile Dysfunction
                    a.footer__text-white.footer-nav__link(href="#")  Hair Loss
                    a.footer__text-white.footer-nav__link(href="#")  Skin
                    a.footer__text-white.footer-nav__link(href="#")  Sexual Health
                    a.footer__text-white.footer-nav__link(href="#")  Masculinity
                .footer-nav__inner.footer-nav__inner--manual
                    p.footer__text-grey.footer-nav__title MANUAL
                    a.footer__text-white.footer-nav__link(href="#") Home
                    a.footer__text-white.footer-nav__link(href="#")  Mission
                    a.footer__text-white.footer-nav__link(href="#")  FAQ
                    a.footer__text-white.footer-nav__link(href="#")  Medical Experts
                    a.footer__text-white.footer-nav__link(href="#")  Success Stories
            .network
                img.network__logo(src="assets/images/footer/logo1.png", alt="")
                .social-network
                    .network__link
                        include  icons/footer/facebook           
                    .network__link
                        include  icons/footer/twitter           
                    .network__link
                        include  icons/footer/instagram 
            .other 
                a.other__link.footer__text-white(href="#") Privacy Policy
                a.other__link.footer__text-white(href="#") Terms & Conditions
                a.other__link.footer__text-white(href="#") Terms of Sale
                a.other__link.footer__text-white(href="#") Complaints
            p.pharmacies.footer__text-grey Pharmacies: Manual Pharmacy
            p.copyright.footer__text-grey Copyright 2021 Manual™. All rights reserved.
            


