section.guided 
    .container 
        .guided__inner 
            .guided__tools 
                .guided__tools-title GUIDED
                .guided__tools-subtitle Your own personal wellbeing guide. Experts, information and hot topics right at your fingertips. 
            .guided__cards 
                +guidedCard ('assets/images/guided/card1.png', 'Why do men fail at well-being?')
                +guidedCard ('assets/images/guided/card2.png', '8 steps to prevent hair loss')
                +guidedCard ('assets/images/guided/card3.png', 'Erectile Dysfunction 101')
                +guidedCard ('assets/images/guided/card4.png', 'Let’s talk hair – treatments and advice')