header.header 
  .container 
    .header__inner
      nav.menu 
        a.menu__list_link(href="#") Shop
        a.menu__list_link(href="#") Read
        a.menu__list_link(href="#") 020 8004 7160
      a.logo(href="#") 
        img.logo__img(src="assets/images/header/logo.png", alt="")
      nav.menu__about 
        a.menu__list_link(href="#") About
        a.menu__list_link(href="#") Login
      a.basket__link(href="#") 
        img.logo__basket(src="assets/images/header/basket.png", alt="")