section.note
    .container
        .note__inner
            .note__text 
                p.note__comment “It’s put a spark back into my relationship and given me a huge amount of confidence in the bedroom.”
                p.note__name Anthony, Trustpilot    
section.note__tools 
    .container 
        .note-tools__button
            a.view__link--note.view__link--note1(href="") Treat Ed
            a.view__link--note.view__link--note2(href="") Treat Hair Loss
