section.products 
    .container
        .products__inner 
            h1.products__title The most effective treatments. Backed by science.
            .product__cards 
                .product__card.product__card--card1
                    img.product__card-img(src="assets/images/products/card1.png", alt="")
                    h3.product__card-title Hair Loss
                    p.product__card-subtitle Now hair loss is treatable. There are clinically proven treatments effective in 9/10 men. And we have them all here.
                    a.product__card-link View Treatments
                .product__card.product__card--card2
                    img.product__card-img(src="assets/images/products/card2.png", alt="")
                    h3.product__card-title Sex health
                    p.product__card-subtitle Erectile dysfunction (ED) happens to a lot of us. We can help you figure out why. And offer a number of treatments that can help too.
                    a.product__card-link View Treatments
                .product__card.product__card--card3
                    img.product__card-img(src="assets/images/products/card3.png", alt="")
                    h3.product__card-title Skin
                    p.product__card-subtitle Healthy skin is key to keep you feeling and looking your best. We’ve harnessed the best science has to offer so you can look after yours.
                    a.product__card-link View Treatments
                .product__card.product__card--card4
                    img.product__card-img(src="assets/images/products/card4.png", alt="")
                    h3.product__card-title Daily Health
                    p.product__card-subtitle Help your body fight the good fight with our scientifically proven range of nutrients and vitamins. Making healthier easier, every day.
                    a.product__card-link View Treatments
