section.services
    .container 
        .services__inner 
            .services__card 
                img.services__card_img(src="assets/images/services/card1.png", alt="") 
                p.services__card_text UK licenced medication
            .services__card 
                img.services__card_img(src="assets/images/services/card2.png", alt="") 
                p.services__card_text Free, discreet delivery
            .services__card 
                img.services__card_img(src="assets/images/services/card3.png", alt="") 
                p.services__card_text Cancel any time
            .services__card  
                img.services__card_img(src="assets/images/services/card4.png", alt="") 
                p.services__card_text Ongoing clinician support