section.tools
    .container 
        .tools__inner 
            .tools_menu     
                h1.tools__title Men’s health. The way it should be.
                p.tools__subtile No waiting rooms or awkward conversations. Just clinically proven treatments direct to your door with support along the way.
                a.getstarted__link(href="#") Get Started
                a.view__link(href="#") View Treatments