doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='./assets/styles/styles.css')
body  
  include components/other/mixin
  include components/header
  include components/tools
  include components/services
  include components/consultation
  include components/products 
  include components/effect
  include components/reviews
  include components/team
  include components/note 
  include components/guided  
  include components/footer
